.container {
  background: #0B173B;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.calculator-container {
  width: 370px;
  height: 560px;
  padding: 14px;
  background-color: #A9F5E1;
  border-radius: 50px;
  border: 12px solid #A1A9F5;
  box-shadow: 5px 5px 15px #666;

  
}
.row {
  margin: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   
}
